# local gemfile
Gemfile.local

# Direnv
.direnv/

.DS_Store

/.bundle/
/.yardoc
/_yardoc/
/doc/
/pkg/
/spec/reports/
/tmp/

# Code coverage
coverage/

/.tmp.xml
/test.*
/a.*
/spec/assets/test*
/spec/assets/test/
/spec/assets/extract/

# rspec failure tracking
.rspec_status
spec/examples.txt

# rubocop
.rubocop-https-*

# Dev tool configs
.irbrc
.pryrc
.pryrc.sample
.vscode/

Gemfile.lock
relaton/
oscal.yml

# Some odd files created by specs
/test1

docs/_site
old-docs/
output/

# Work in progress files
user_templates/

# Scratch files
sample.oscal.*
/x
/x.yaml

.claude/
