<div class="{{ element.css_class }}"{% if element.id %} id="{{ element.id }}"{% endif %}>
<div class="icon"><span class="title">{{ element.label }}</span></div>
<div class="content">{{ element.content | render_element }}</div>
</div>
