<section class="bibliography"{% if element.id %} id="{{ element.id }}"{% endif %}>
{% if element.title %}
<h2 class="bibliography-title">{{ element.title }}</h2>
{% endif %}
<div class="bibliography-entries">
{% for entry in element.entries %}
{{ entry | render_element }}
{% endfor %}
</div>
</section>
